/* styles.css */
/* General Styles */
body {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
background-color: #000;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    /* Navigation Styles */
    nav {
      background: #d82fd6; /* Background color for the navigation bar */
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      padding: 7px;
    }
    nav .log{
      text-align: center;
      justify-content: center;
       font-size: 30px;
       color: #000;
       width: 25%;
       cursor: pointer;
       padding: 10px;
     }
    
    nav .container {
      width: 70%;
      padding: 10px  0;
    }

    nav .container ul{
      list-style: none;
      text-align:center;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    nav .container ul li{
      text-align:end;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
    }
    nav ul li a {
      color: #000; /* Text color */
      text-decoration: none;
      padding:8px 5px; /* Padding for the links */
      /* Background color for the links */
      border-radius: 5px; /* Rounded corners */
    }
    
    nav ul li a:hover {
      background: #03045e; /* Hover background color */
      color: #fff; /* Hover text color */
    }


  header .container h1{
    font-size: 30px;
  }
  /* Header Styles */
  header {
    color:green;
    padding: 18px 0;
    text-align: center;
    font-weight: bold;
    box-shadow: #0077b6;
   
  }
  
  header h1 {
    margin:0;
    font-size: 2.5rem;
  }
  
  header span {
   display: flex;
    font-size: 1.2rem;
    justify-content: center;
  }
  header .container{
    width: 60%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    background-color: rgb(64, 166, 166);
    border-radius: 7px;
  }
  

  
  /* Hero Section */
  #hero {
    width: 100%;
    color: #fff;
    padding: 80px 0;
    text-align: center;
    margin: 0 15px;
  }
  #hero .container{
   text-align: start;
    justify-content: center;
    border-radius: 7px;
    width: 50%;
    height: 0%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
background-color: #281313;
  }
  #hero .container h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  
  #hero p {
    font-size: 1.1rem;
    margin: 10px 0 20px;
    font-style: italic;
    line-height: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 17px;
    background: #e28787;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
  }
  .btn:hover{
    color: #fff;
    background-color: green;
  }

  .profile-photo {
    display: block;
    margin: 40px auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #0077b6;
    border-radius: 7px;
  }
  
  /* Skills Section */
  #skills {
    padding: 55px 0;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 17%;
    width: 50%;
    margin: 20px auto;
height: 400px;
background-color: #281313;
  }
  #skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  #skills ul li {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;
    font-size: 1.1rem;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  /* Projects Section */
  #projects {
    height: 40vh;
    margin-top: 60px;
    padding: 60px 0;
    background-color: #898585;
  }
  #projects .container{
    margin-left: 6%;
    width: 88%;
    justify-content: center;
    text-align: center;
    background: #d7cfcf; 
    border-radius: 5px;
    padding: 30px ;
  }   
  #projects .container h2{
    font-size: 2.2rem;
    color: chocolate;
    font-weight: bold;
    font-style: italic;
  }
  #projects .container .project{
    text-align: center;
    justify-content: center;
    display: inline-block
  }
  .project h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .project{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .contain{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    margin-left:2% ;

  }
  .contain span{
    color: chocolate;
  }
  /* About Me Section */
  #about {
    width: 50%;
    padding: 60px 0;
    color: white;
    text-align: center;
  }
  #about h2{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
  }
  /* Contact Section */
  #contact {
    padding: 60px 9px;
    color: #fff;
    width: 46%;
    text-align: center;
  }
  #contact h2{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 50px;
  }
  #contact p{
    font-size: 15px;
    font-style: italic;
  }
  
  #contact ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  #contact ul li {
    margin: 10px 0;
    font-size: 1.1rem;
  }
  
  /* Footer Section */
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 17px 0;

  }